.header {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary);
}

.header-logo img {
  width: 40px;
}

.header-logo .logo-text {
  color: var(--primary);
}

.header-logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.location-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 10px;
}

.location-button:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.location-button img {
  width: 25px;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}
