.saved-locations {
  margin-top: 20px;
}

.saved-locations-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.saved-locations-header h2 {
  color: var(--primary);
  font-size: 18px;
}

.saved-locations-list {
  display: flex;
  gap: 15px;
}

.saved-location-card {
  position: relative;
  width: 300px;
}

.saved-location-content {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  padding: 18px;
  border: none;
  background: none;
  color: inherit;
  text-align: left;
  cursor: pointer;
  transition: 0.3s all;
  border-bottom: 2px solid transparent;
}

.saved-location-content:hover {
  border-color: var(--primary);
}

.saved-location-content img {
  width: 38px;
  height: 38px;
}

.saved-location-name {
  margin: 0 0 4px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 500;
}

.saved-location-temperature {
  margin: 0;
  color: var(--primary);
  font-size: 20px;
  font-weight: 700;
}

.remove-location-button {
  position: absolute;
  top: 5px;
  right: 8px;
  border: none;
  background: none;
  color: var(--primary);
  font-size: 20px;
  cursor: pointer;
}

.remove-location-button:hover {
  color: var(--error);
}

@media (max-width: 900px) {
  .saved-locations-list {
    flex-direction: column;
  }

  .saved-location-card {
    width: 100%;
  }
}
